body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #202020;
	font-family: Arial, Helvetica, sans-serif;
}
.calculator-wrapper {
	width: 300px;
	height: 460px;
	background-color: #292929;
	border-radius: 3px;
	padding-top: 1rem;
}
.result-wrapper {
	width: 90%;
	height: 80px;
	background-color: #04b97d;
	display: flex;
	justify-content: start;
  margin: 0 auto;
	align-items: center;
	border-radius: 5px;
	background: #04b97d;
	box-shadow: inset 5px 5px 16px #02573b, inset -5px -5px 16px #06ffbf;
}

.result {
	font-weight: bold;
	font-size: 30px;
	color: rgb(42, 42, 42);
	margin-left: 10px;
}
.buttons {
  margin-top: 2.6rem;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}
.row button {
	padding: 1.7rem;
	font-size: 40px;
	color: #fff;
  margin-top: 50px;
  margin: 0.3rem;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
  outline: none;
  border: none;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background: #292929;
	box-shadow: 5px 5px 9px #202020, -5px -5px 9px #323232;
}
.row button:focus {
	box-shadow: inset 5px 5px 9px #202020, inset -5px -5px 9px #323232 !important;
}